$gray: #96a3af;
$green: rgba(53, 144, 156, 0.78);
$orange: rgba(255, 166, 84, 0.93);
$white: white;
$text-color: rgba(79, 77, 77, 0.84);

@mixin btn-gray {
    text-decoration: none;
    background: $gray;
    border-radius: 15px;
    color: white;
    &:hover {
        background: $green;
    }
}
@mixin btn-green {
    text-decoration: none;
    background: $green;
    box-shadow: 0px 8px 50px $green;
    border-radius: 15px;
    color: white;
    &:hover {
        background: $orange;
        box-shadow: 0px 8px 50px $orange;
    }
}
@mixin btn-orange {
    text-decoration: none;
    background: $orange;
    box-shadow: 0px 8px 50px $orange;
    border-radius: 15px;
    color: black;
    &:hover {
        background-color: $green;
        color: $white;
    }
}

@mixin shadow {
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

@mixin p-text {
    font-size: 18px;
    margin: 0;
    padding: 0;
    letter-spacing: 0.045em;
    color: $text-color;
}
@mixin span-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 100.4%;
    letter-spacing: -0.025em;
    color: #000000;
}
@mixin h2-text {
    font-size: 38px;
    line-height: 58px;
    letter-spacing: -0.025em;
    color: #000000;
}
@mixin btn-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: $white;
}
