@charset "UTF-8";
@import url("css/reset.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: Montserrat;
  scroll-behavior: smooth;
}

.progress-container {
  display: none;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.header-wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1140px;
  margin: 0 20px 0 20px;
}
.header-wrapper .header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-top: 80px;
}
.header-wrapper .header .nav a {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 13px;
  color: #9b9b9b;
  margin-left: 37px;
}
.header-wrapper .header .nav a:first-child {
  margin: 0;
}
.header-wrapper .header .nav a:hover {
  color: royalblue;
}
.header-wrapper .header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header-wrapper .header .content .left {
  width: 50%;
}
.header-wrapper .header .content .left .nav-offer {
  padding-top: 80px;
}
.header-wrapper .header .content .left .nav-offer p {
  width: 80%;
  margin-top: 45px;
  font-style: normal;
  font-weight: normal;
  font-size: 13.6784px;
  line-height: 17px;
  color: #000000;
}
.header-wrapper .header .content .left .nav-offer h1 {
  margin-top: 45px;
  font-weight: 600;
  font-size: 27.3569px;
  line-height: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}
.header-wrapper .header .content .left .nav-offer span {
  margin-top: 45px;
  font-weight: 600;
  font-size: 13.6784px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
}
.header-wrapper .header .content .left .nav-offer a {
  margin-top: 45px;
  width: 144.38px;
  height: 31.92px;
  text-decoration: none;
  font-size: 12.1586px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #44572b;
  border: 1px solid #44572b;
}
.header-wrapper .header .content .left .nav-offer a:hover {
  border: 1px solid royalblue;
  background-color: royalblue;
  color: white;
}
.header-wrapper .header .content .right {
  width: 50%;
}

.test-slider {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.test-slider .slider {
  width: 980px;
}
.test-slider .slider .owl-carousel div img {
  width: auto;
  height: 300px;
}

.portfolio {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.portfolio .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 980px;
  /* В класс "show" добавляется к отфильтрованные элементы */
  /* Стиль кнопок */
  /* Добавить светло-серый фон на наведении курсора мыши */
  /* Добавить темный фон для активной кнопки */
}
.portfolio .wrapper .types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: s;
      -ms-flex-pack: s;
          justify-content: s;
  margin-top: 45px;
}
.portfolio .wrapper .imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 45px;
}
.portfolio .wrapper .imgs img {
  padding: 0;
  margin: 0;
  width: 25%;
}
.portfolio .wrapper .container {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.portfolio .wrapper .filterDiv {
  display: none;
  /* Скрыто по умолчанию */
}
.portfolio .wrapper .filterDiv img {
  width: 100%;
}
.portfolio .wrapper .show {
  display: block;
  margin: 0;
  padding: 0;
  width: 20%;
}
.portfolio .wrapper .btn {
  margin-bottom: 20px;
  border: none;
  outline: none;
  color: #7c7c7c;
  cursor: pointer;
}
.portfolio .wrapper .btn:hover {
  background-color: #ddd;
}
.portfolio .wrapper .btn.active {
  color: black;
}
.portfolio .wrapper h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  margin-bottom: 25px;
}

.products {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.products .products-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 980px;
}
.products .products-wrapper h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}
.products .products-wrapper .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.products .products-wrapper .row-1 .mb-3 {
  margin: 0;
}
.products .products-wrapper .row-1 .card {
  width: 480px;
  margin-left: 20px;
}
.products .products-wrapper .row-1 .card:first-child {
  margin: 0;
}
.products .products-wrapper .row-1 .card .col-md-8 .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.products .products-wrapper .row-1 .card .card-text {
  font-style: normal;
  font-weight: normal;
  font-size: 13.6784px;
  line-height: 17px;
  color: #000000;
}
.products .products-wrapper .row-1 .card .col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.products .products-wrapper .row-1 .card .col-md-4 img {
  width: 100%;
}
.products .products-wrapper .row-1 .card .card-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.products .products-wrapper .row-1 .card .card-offer p {
  font-weight: 500;
  font-size: 22px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0;
  color: #000000;
}
.products .products-wrapper .row-1 .card .card-offer a {
  width: 144.38px;
  height: 31.92px;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #44572b;
  border: 1px solid #44572b;
}
.products .products-wrapper .row-1 .card .card-offer a:hover {
  border: 1px solid royalblue;
  background-color: royalblue;
  color: white;
}
.products .products-wrapper .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.products .products-wrapper .row-2 .card {
  width: 480px;
  margin-left: 20px;
}
.products .products-wrapper .row-2 .card:first-child {
  margin: 0;
}
.products .products-wrapper .row-2 .card .col-md-8 .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.products .products-wrapper .row-2 .card .card-text {
  font-style: normal;
  font-weight: normal;
  font-size: 13.6784px;
  line-height: 17px;
  color: #3a3a3a;
}
.products .products-wrapper .row-2 .card .col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.products .products-wrapper .row-2 .card .col-md-4 img {
  width: 100%;
}
.products .products-wrapper .row-2 .card .card-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.products .products-wrapper .row-2 .card .card-offer p {
  font-weight: 500;
  font-size: 22px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0;
  color: #000000;
}
.products .products-wrapper .row-2 .card .card-offer a {
  width: 144.38px;
  height: 31.92px;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #44572b;
  border: 1px solid #44572b;
}
.products .products-wrapper .row-2 .card .card-offer a:hover {
  border: 1px solid royalblue;
  background-color: royalblue;
  color: white;
}

.faq {
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.faq span {
  margin-bottom: 45px;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}
.faq .content {
  width: 980px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 20px;
}
.footer .line {
  width: 1140px;
  height: 1px;
  background-color: #9b9b9b;
  margin-bottom: 20px;
}
.footer .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1140px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .footer-wrapper .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
}
.footer .footer-wrapper .social p {
  margin: 0;
}
.footer .footer-wrapper .social .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .footer-wrapper .social .icons a {
  margin-left: 30px;
}
.footer .footer-wrapper .social .icons a:first-child {
  margin: 0;
}
.footer .footer-wrapper .btn {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .footer-wrapper .btn a {
  width: 80%;
  height: 31.92px;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #44572b;
  border: 1px solid #44572b;
}
.footer .footer-wrapper .btn a:hover {
  border: 1px solid royalblue;
  background-color: royalblue;
  color: white;
}
.footer .footer-wrapper .btn-1 {
  width: 30%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .footer-wrapper .btn-1 a {
  width: 80%;
  height: 31.92px;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #44572b;
  border: 1px solid #44572b;
}
.footer .footer-wrapper .btn-1 a:hover {
  border: 1px solid royalblue;
  background-color: royalblue;
  color: white;
}
.footer .footer-wrapper .nav {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer-wrapper .nav a {
  font-size: 12px;
  line-height: 13px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #000000;
}
.footer .footer-wrapper .nav a:hover {
  color: royalblue;
}

@media screen and (max-device-width: 780px) {
  body {
    width: 100%;
  }
  body .progress-container {
    display: block;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    /* Индикатор прогресса (индикатор прокрутки) */
  }
  body .progress-container .progress-container {
    width: 100%;
    height: 6px;
    background: #ccc;
  }
  body .progress-container .progress-bar {
    height: 6px;
    background: #f0855b;
    width: 0%;
  }
  body .header-wrapper .header {
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .header-wrapper .header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .header-wrapper .header .content .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .header-wrapper .header .content .left .nav-offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .header-wrapper .header .content .left .nav-offer a {
    width: 80%;
  }
  body .header-wrapper .header .content .right {
    width: 30%;
  }
  body .header-wrapper .header .content .right img {
    margin-top: 160px;
    height: 450px;
  }
  body .test-slider .slider {
    width: 90%;
  }
  body .test-slider .slider .owl-carousel div img {
    height: 300px;
  }
  body .portfolio .wrapper {
    width: 90%;
  }
  body .products .products-wrapper {
    width: 90%;
  }
  body .products .products-wrapper .row-1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .faq {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .faq .content {
    width: 90%;
  }
  body .footer .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  body .footer .footer-wrapper .social {
    margin-top: 10px;
    width: 60%;
  }
  body .footer .footer-wrapper .btn {
    display: none;
    margin-top: 10px;
    width: 60%;
  }
  body .footer .footer-wrapper .btn a {
    width: 100%;
  }
  body .footer .footer-wrapper .btn-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    width: 60%;
  }
  body .footer .footer-wrapper .btn-1 a {
    width: 100%;
  }
  body .footer .footer-wrapper .nav {
    margin-top: 10px;
    width: 60%;
  }
  body .footer .line {
    width: 100%;
  }
}
@media screen and (max-device-width: 480px) {
  body {
    width: 100%;
  }
  body .header-wrapper .header {
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .header-wrapper .header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    overflow: hidden;
    position: fixed !important;
    /* Установите навигационную панель в фиксированное положение */
    top: 0 !important;
    /* Расположите навигационную панель в верхней части страницы */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: white;
    padding: 30px 0 30px 0;
    z-index: 2;
  }
  body .header-wrapper .header .nav a {
    font-size: 14px;
  }
  body .header-wrapper .header .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .header-wrapper .header .content .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  body .header-wrapper .header .content .left .nav-offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
  }
  body .header-wrapper .header .content .left .nav-offer p {
    width: 100%;
  }
  body .header-wrapper .header .content .left .nav-offer a {
    width: 100%;
    height: 60px;
    font-size: 20px;
  }
  body .header-wrapper .header .content .right {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .header-wrapper .header .content .right img {
    margin-top: 60px;
    width: 100%;
  }
  body .test-slider .slider {
    width: 90%;
  }
  body .test-slider .slider .owl-carousel div img {
    width: auto;
    height: 190px;
  }
  body .portfolio .wrapper {
    width: 90%;
    height: 100%;
  }
  body .portfolio .wrapper .show {
    display: block;
    margin: 0;
    padding: 0;
    width: 50%;
  }
  body .products .products-wrapper {
    width: 90%;
  }
  body .products .products-wrapper .row-1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .products .products-wrapper .row-1 .mb-3 {
    margin: 0;
  }
  body .products .products-wrapper .row-1 .card {
    margin: 30px 0 30px 0;
  }
  body .faq {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .faq .content {
    width: 90%;
  }
  body .footer .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    background-color: white;
  }
  body .footer .footer-wrapper .social {
    display: none;
    margin-top: 10px;
    width: 60%;
  }
  body .footer .footer-wrapper .btn {
    display: none;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 60%;
  }
  body .footer .footer-wrapper .btn a {
    width: 100%;
  }
  body .footer .footer-wrapper .btn-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
    width: 60%;
  }
  body .footer .footer-wrapper .btn-1 a {
    width: 100%;
  }
  body .footer .footer-wrapper .nav {
    display: none;
    margin-top: 20px;
    width: 60%;
    padding-bottom: 10px;
  }
  body .footer .line {
    width: 100%;
  }
}